/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Cutom Styles */

body{
    background-color: #f1f3f7;
    font-family: sans-serif;
    text-align: center ;
    margin: 70px 0;
}

h1{
    font-size: 30px;
    color: red;
}

#container{
    display: grid;
    width: 87%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
}

#container > div{
    width: 400px;
    height: 400px;
    display: grid;
    place-items: center;
    margin: auto;
    border: 3px solid #f5180c;
}

button{
    padding: 6px 15px;
    background-color: white;
    border-radius: 30px;  
}
#btn1:active{
   transform: scale(0.98);
}