.header-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 90, 90);
    color: white;
}

.header-cont > h3{
    margin-left: 20px;
}

.img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}